Exercise 1 - Create Table
Create table - courses

course_id - sequence generated integer and primary key
course_name - which holds alpha numeric or string values up to 60 characters
course_author - which holds the name of the author up to 40 characters
course_status - which holds one of these values (published, draft, inactive).
course_published_dt - which holds date type value.
Provide the script as answer for this exercise.

In [ ]:
%%sql 
CREATE TABLE courses (
    course_id SERIAL PRIMARY KEY,
    course_name VARCHAR(60),
    course_author VARCHAR(40),
    course_status VARCHAR(10) default 'inactive',
    course_published_dt TIMESTAMP)

Exercise 2 - Inserting Data
Insert data into courses using the data provided. Make sure id is system generated.

In [ ]:
INSERT INTO courses (course_name , course_author , course_status , course_published_dt)
VALUES  ('Programming using Python' , 'Bob Dillon' ,'published', '2020-09-30'),
        ('Data Engineering using Python' , 'Bob Dillon' , 'published' , '2020-09-30'),
        ('Data Engineering using Scala' , 'Elvis Presley' , 'draft' , null),
        ('Programming using Scala' , 'Elvis Presley' , 'published' , '2020-05-12'),
        ('Programming using Java' , 'Mike Jack' , 'inactive' , '2020-08-10'),
        ('Web Applications - Python Flask' , 'Bob Dillon' , 'inactive' , '2020-07-20'),
        ('Web Applications - Java Spring' , 'Bob Dillon' , 'draft' , null),
        ('Pipeline Orchestration - Python' , 'Bob Dillon' , 'draft' , null),
        ('Streaming Pipelines - Python' , 'Bob Dillon' , 'published' , '2020-10-05'),
        ('Web Applications - Scala Play' , 'Elvis Presley' , 'inactive' , '2020-09-30'),
        ('Web Applications - Python Django' , 'Bob Dillon' , 'published' , '2020-06-23'),
        ('Server Automation - Ansible' , 'Uncle Sam' , 'published' , '2020-07-05')

Exercise 3 - Updating Data
Update the status of all the draft courses related to Python and Scala to published along with the course_published_dt using system date.

Provide the update statement as answer for this exercise.

In [ ]:
%%sql 
UPDATE courses
    SET course_status = 'published',
    course_published_dt = CURRENT_TIMESTAMP
WHERE (course_name LIKE '%python%' OR course_name LIKE '%Scala%') and course_status= 'draft'

Exercise 4 - Deleting Data
Delete all the courses which are neither in draft mode nor published.

Provide the delete statement as answer for this exercise.

In [ ]:
%%sql
DELETE FROM courses WHERE course_status= 'inactive'

Validation - Get count of all published courses by author and make sure output is sorted in descending order by count.

In [ ]:
SELECT course_author, count(1) AS course_count
FROM courses
WHERE course_status= 'published'
GROUP BY course_author