## Exercises - Managing Database Objects

This exercise is primarily to assess your capabilities related to put all important DDL concepts in practice by coming up with solution for a typical data migration problem from one database (mysql) to another (postgres).
* Here are the high level steps for database migration from one type of database to another type of database.
  * Extract DDL Statements from source database (MySQL).
  * Extract the data in the form of delimited files and ship them to target database.
  * Refactor scripts as per target database (Postgres).
  * Create tables in the target database.
  * Execute pre-migration steps (disable constraints, drop indexes etc).
  * Load the data using native utilities.
  * Execute post-migration steps (enable constraints, create or rebuild indexes, reset sequences etc).
  * Sanity checks with basic queries.
  * Make sure all the impacted applications are validated thoroughly.
* We have scripts and data set available in our GitHub repository. If you are using our environment the repository is already cloned under **/data/retail_db**.
* It have scripts to create tables with primary keys. Those scripts are generated from MySQL tables and refactored for Postgres.
  * Script to create tables: **create_db_tables_pg.sql**
  * Load data into tables: **load_db_tables_pg.sql**
* Here are the steps you need to perform to take care of this exercise.
  * Create tables
  * Load data
  * All the tables have surrogate primary keys. Here are the details.
    * orders.order_id
    * order_items.order_item_id
    * customers.customer_id
    * products.product_id
    * categories.category_id
    * departments.department_id
  * Get the maximum value from all surrogate primary key fields.
  * Create sequences for all surrogate primary key fields using maximum value. Make sure to use standard naming conventions for sequences.
  * Ensure sequences are mapped to the surrogate primary key fields.
  * Create foreign key constraints based up on this information.
    * orders.order_customer_id to customers.customer_id
    * order_items.order_item_order_id to orders.order_id
    * order_items.order_item_product_id to products.product_id
    * products.product_category_id to categories.category_id
    * categories.category_department_id to departments.department_id
  * Insert few records in `departments` to ensure that sequence generated numbers are used for `department_id`.
* Here are the commands to launch `psql` and run scripts to create tables as well as load data into tables.

```sql
psql -U itversity_retail_user \
  -h localhost \
  -p 5432 \
  -d itversity_retail_db \
  -W

\i /data/retail_db/create_db_tables_pg.sql

\i /data/retail_db/load_db_tables_pg.sql
```
* We use this approach of creating tables, loading data and then adding constraints as well as resetting sequences for large volume data migrations from one database to another database.
* Here are the commands or queries you need to come up with to solve this problem.

### Exercise 1

Queries to get maximum values from surrogate primary keys.

In [3]:
%%sql 

SELECT order_id FROM orders 
ORDER BY order_id DESC
LIMIT 1

1 rows affected.

[(68883,)]

In [4]:
%%sql 

SELECT order_item_id FROM order_items 
ORDER BY order_Item_id DESC
LIMIT 1

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
1 rows affected.

[(172198,)]

In [5]:
%%sql

SELECT customer_id FROM customers
ORDER BY customer_id DESC
limit 1

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
1 rows affected.

[(12435,)]

In [6]:
%%sql

SELECT product_id FROM products
ORDER BY product_id DESC
limit 1

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
1 rows affected.

[(1345,)]

In [7]:
%%sql

SELECT category_id FROM categories
ORDER BY categories DESC
limit 1

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
1 rows affected.

[(58,)]

In [8]:
%%sql

SELECT department_id FROM departments
ORDER BY department_id DESC
limit 1

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
1 rows affected.

[(7,)]

### Exercise 2

Commands to add sequences with `START WITH` pointing to the maximum value for the corresponding surrogate primary key fields. Make sure to use meaningful names to sequences **TABLENAME_SURROGATEFIELD_seq** (example: users_user_id_seq for users.user_id)

In [9]:
%sql DROP SEQUENCE IF EXISTS orders_order_id_seq CASCADE

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

In [10]:
%%sql

CREATE SEQUENCE orders_order_id_seq 
    START WITH 68884
    INCREMENT BY 1

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

In [11]:
%sql SELECT nextval('orders_order_id_seq')

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
1 rows affected.

[(68884,)]

In [12]:
%sql DROP SEQUENCE IF EXISTS order_items_order_item_id_seq CASCADE

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

In [13]:
%%sql

CREATE SEQUENCE order_items_order_item_id_seq
        START WITH 172199
        INCREMENT BY 1

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

In [14]:
%sql SELECT nextval('order_items_order_item_id_seq')

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
1 rows affected.

[(172199,)]

In [15]:
%sql DROP SEQUENCE IF EXISTS customers_customer_id_seq CASCADE

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

In [16]:
%%sql

CREATE SEQUENCE customers_customer_id_seq
    START WITH 12436
    INCREMENT BY 1

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

In [17]:
%sql SELECT nextval('customers_customer_id_seq')

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
1 rows affected.

[(12436,)]

In [18]:
%sql DROP SEQUENCE IF EXISTS products_product_id_seq CASCADE

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

In [19]:
%%sql

CREATE SEQUENCE products_product_id_seq
    START WITH 1345
    INCREMENT BY 1

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

In [20]:
%sql SELECT nextval('products_product_id_seq')

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
1 rows affected.

[(1345,)]

In [21]:
%sql DROP SEQUENCE IF EXISTS categories_category_id_seq CASCADE

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

In [22]:
%%sql

CREATE SEQUENCE categories_category_id_seq
    START WITH 59
    INCREMENT BY 1

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

In [23]:
%sql SELECT nextval('categories_category_id_seq')

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
1 rows affected.

[(59,)]

In [24]:
%sql DROP SEQUENCE IF EXISTS departments_department_id_seq CASCADE

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

In [25]:
%%sql 

CREATE SEQUENCE departments_department_id_seq
    START WITH 8
    INCREMENT BY 1

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

In [26]:
%sql SELECT nextval('departments_department_id_seq')

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
1 rows affected.

[(8,)]

### Exercise 3

Commands to alter sequences to bind them to corresponding surrogate primary key fields.

In [27]:
%%sql

ALTER SEQUENCE orders_order_id_seq
    OWNED BY orders.order_id

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

In [28]:
%%sql 

ALTER TABLE orders 
    ALTER COLUMN order_id 
    SET DEFAULT nextval('orders_order_id_seq')

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

In [29]:
%%sql

ALTER SEQUENCE order_items_order_item_id_seq
    OWNED BY order_items.order_item_id

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

In [30]:
%%sql

ALTER TABLE order_items
    ALTER COLUMN order_item_id
    SET DEFAULT nextval('order_items_order_item_id_seq')

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

In [31]:
%%sql

ALTER SEQUENCE customers_customer_id_seq
    OWNED BY customers.customer_id

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

In [32]:
%%sql

ALTER TABLE customers
    ALTER COLUMN customer_id
    SET DEFAULT nextval('customers_customer_id_seq')

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

In [33]:
%%sql

ALTER SEQUENCE products_product_id_seq
    OWNED BY products.product_id

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

In [34]:
%%sql

ALTER TABLE products
    ALTER COLUMN product_id
    SET DEFAULT nextval('products_product_id_seq')

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

In [35]:
%%sql

ALTER SEQUENCE categories_category_id_seq
    OWNED BY categories.category_id

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

In [36]:
%%sql

ALTER TABLE categories
    ALTER COLUMN category_id
    SET DEFAULT nextval('categories_category_id_seq')

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

In [37]:
%%sql

ALTER SEQUENCE departments_department_id_seq
    OWNED BY departments.department_id

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

In [38]:
%%sql

ALTER TABLE departments
    ALTER COLUMN department_id
    SET DEFAULT nextval('departments_department_id_seq')

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

### Exercise 4

Add Foreign Key constraints to the tables.
* Validate if the tables have data violataing foreign key constraints (Hint: You can use left outer join to find rows in child table but not in parent table)
* Alter tables to add foreign keys as specified.
* Here are the relationships for your reference.
  * orders.order_customer_id to customers.customer_id
  * order_items.order_item_order_id to orders.order_id
  * order_items.order_item_product_id to products.product_id
  * products.product_category_id to categories.category_id
  * categories.category_department_id to departments.department_id
  * There might be data in child table, which might not be in parent table. You should figure out as part of the validations.
  * If there are foreign key violations, make sure to update the data in the child table's foreign key column to null values.
* Solution should contain the following:
  * Commands to add foreign keys to the tables.

In [39]:
%%sql

ALTER TABLE orders
    ADD CONSTRAINT customers_order_id_fk
        FOREIGN KEY (order_customer_id)
        REFERENCES customers(customer_id)

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

In [40]:
%%sql

ALTER TABLE order_items
    ADD CONSTRAINT orders_order_items_fk
        FOREIGN KEY (order_item_order_id)
        REFERENCES orders(order_id)

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

In [41]:
%%sql

ALTER TABLE order_items
    ADD CONSTRAINT products_order_items_fk
        FOREIGN KEY (order_item_product_id)
        REFERENCES products(product_id)

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

In [42]:
%%sql 

SELECT p.* FROM productS p
ORDER BY p.product_category_id desc 
limit 5

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
5 rows affected.

[(1324, 59, "Nike Men's Cleveland Browns Johnny Manziel 'M", '', 30.0, 'http://images.acmesports.sports/Nike+Men%27s+Cleveland+Browns+Johnny+Manziel+%27Money%27+T-Shirt'),
 (1325, 59, 'Nike Johnny Football Camo Graphic T-Shirt', '', 30.0, 'http://images.acmesports.sports/Nike+Johnny+Football+Camo+Graphic+T-Shirt'),
 (1322, 59, "Nike Men's Cleveland Browns 'Money Manziel' T", '', 30.0, 'http://images.acmesports.sports/Nike+Men%27s+Cleveland+Browns+%27Money+Manziel%27+T-Shirt'),
 (1323, 59, "Nike Men's Home Game Jersey Cleveland Browns ", '', 100.0, 'http://images.acmesports.sports/Nike+Men%27s+Home+Game+Jersey+Cleveland+Browns+Johnny+Manziel...'),
 (1326, 59, 'Nike Youth Home Game Jersey Cleveland Browns ', '', 70.0, 'http://images.acmesports.sports/Nike+Youth+Home+Game+Jersey+Cleveland+Browns+Johnny+Manziel...')]

In [43]:
%%sql

ALTER TABLE products ALTER COLUMN product_category_id DROP NOT NULL;

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

In [44]:
%%sql

UPDATE products SET product_category_id=null
WHERE product_category_id=59

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
24 rows affected.

[]

In [45]:
%%sql

SELECT cat.category_id,
    p.product_category_id
FROM categories cat LEFT OUTER JOIN products p
    ON cat.category_id = p.product_category_id
    
LIMIT 1

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
1 rows affected.

[(2, 2)]

In [46]:
%%sql 

ALTER TABLE products
    ADD CONSTRAINT categories_products_fk
        FOREIGN KEY (product_category_id)
        REFERENCES categories(category_id)

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

In [47]:
%%sql 

SELECT cat.* FROM categories cat
ORDER BY cat.category_department_id desc 
LIMIT 10

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
10 rows affected.

[(56, 8, 'World Cup Shop'),
 (57, 8, 'MLB Players'),
 (53, 8, 'NCAA'),
 (55, 8, 'International Soccer'),
 (50, 8, 'NFL'),
 (49, 8, 'MLB'),
 (51, 8, 'NHL'),
 (52, 8, 'NBA'),
 (54, 8, 'MLS'),
 (58, 8, 'NFL Players')]

In [48]:
%%sql 

SELECT d.* FROM departments d
ORDER BY d.department_id desc 
LIMIT 10

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
6 rows affected.

[(7, 'Fan Shop'),
 (6, 'Outdoors'),
 (5, 'Golf'),
 (4, 'Apparel'),
 (3, 'Footwear'),
 (2, 'Fitness')]

In [49]:
%%sql

ALTER TABLE categories ALTER COLUMN category_department_id DROP NOT NULL;

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

In [50]:
%%sql

UPDATE categories SET category_department_id=null
WHERE category_department_id=8

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
10 rows affected.

[]

In [51]:
%%sql

SELECT d.* FROM departments d
WHERE d.department_id=7

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
1 rows affected.

[(7, 'Fan Shop')]

In [52]:
%%sql

SELECT d.department_id,
    cat.category_department_id
FROM departments d LEFT OUTER JOIN categories cat
    ON d.department_id = cat.category_department_id
    
LIMIT 10

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
10 rows affected.

[(2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (3, 3),
 (3, 3)]

In [53]:
%%sql

ALTER TABLE categories
    ADD CONSTRAINT departments_categories_fk
        FOREIGN KEY (category_department_id)
        REFERENCES departments(department_id)

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
Done.

[]

### Exercise 5

Queries to validate whether constraints are created or not. You can come up with queries against `information_schema` tables such as `columns`, `sequences` etc.

In [54]:
%sql SELECT * FROM information_schema.sequences

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
8 rows affected.

[('itv001594_retail_db', 'public', 'users_user_id_seq1', 'integer', 32, 2, 0, '1', '1', '2147483647', '1', 'NO'),
 ('itv001594_retail_db', 'public', 'orders_order_id_seq', 'bigint', 64, 2, 0, '68884', '1', '9223372036854775807', '1', 'NO'),
 ('itv001594_retail_db', 'public', 'order_items_order_item_id_seq', 'bigint', 64, 2, 0, '172199', '1', '9223372036854775807', '1', 'NO'),
 ('itv001594_retail_db', 'public', 'customers_customer_id_seq', 'bigint', 64, 2, 0, '12436', '1', '9223372036854775807', '1', 'NO'),
 ('itv001594_retail_db', 'public', 'products_product_id_seq', 'bigint', 64, 2, 0, '1345', '1', '9223372036854775807', '1', 'NO'),
 ('itv001594_retail_db', 'public', 'categories_category_id_seq', 'bigint', 64, 2, 0, '59', '1', '9223372036854775807', '1', 'NO'),
 ('itv001594_retail_db', 'public', 'departments_department_id_seq', 'bigint', 64, 2, 0, '8', '1', '9223372036854775807', '1', 'NO'),
 ('itv001594_retail_db', 'public', 'users_user_id_seq', 'bigint', 64, 2, 0, '1', '1', '9223372036854775807', '1', 'NO')]

In [55]:
%%sql 

SELECT * FROM information_schema.tables 
WHERE table_schema='information_schema'

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
58 rows affected.

[('itv001594_retail_db', 'information_schema', 'columns', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'information_schema_catalog_name', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'collations', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'applicable_roles', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'administrable_role_authorizations', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'column_privileges', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'attributes', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'collation_character_set_applicability', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'character_sets', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'check_constraint_routine_usage', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'check_constraints', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'column_column_usage', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'column_domain_usage', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'column_udt_usage', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'constraint_column_usage', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'constraint_table_usage', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'domain_constraints', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'domain_udt_usage', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'domains', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'enabled_roles', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'sql_implementation_info', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'key_column_usage', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'parameters', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'referential_constraints', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'role_column_grants', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'routine_privileges', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'role_routine_grants', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'routines', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'schemata', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'tables', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'sequences', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'sql_sizing', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'sql_features', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'table_constraints', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'table_privileges', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'role_table_grants', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'udt_privileges', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'triggered_update_columns', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'triggers', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'usage_privileges', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'role_udt_grants', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'role_usage_grants', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'user_defined_types', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'view_column_usage', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'view_routine_usage', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'view_table_usage', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'foreign_tables', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'views', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'data_type_privileges', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'element_types', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'column_options', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'foreign_data_wrapper_options', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'user_mapping_options', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'foreign_data_wrappers', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'foreign_server_options', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'foreign_servers', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'user_mappings', 'VIEW', None, None, None, None, None, 'NO', 'NO', None),
 ('itv001594_retail_db', 'information_schema', 'foreign_table_options', 'VIEW', None, None, None, None, None, 'NO', 'NO', None)]

In [56]:
%%sql

SELECT * FROM information_schema.table_constraints
WHERE table_name='categories'

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
4 rows affected.

[('itv001594_retail_db', 'public', 'categories_pkey', 'itv001594_retail_db', 'public', 'categories', 'PRIMARY KEY', 'NO', 'NO', 'YES'),
 ('itv001594_retail_db', 'public', 'departments_categories_fk', 'itv001594_retail_db', 'public', 'categories', 'FOREIGN KEY', 'NO', 'NO', 'YES'),
 ('itv001594_retail_db', 'public', '2200_217822_1_not_null', 'itv001594_retail_db', 'public', 'categories', 'CHECK', 'NO', 'NO', 'YES'),
 ('itv001594_retail_db', 'public', '2200_217822_3_not_null', 'itv001594_retail_db', 'public', 'categories', 'CHECK', 'NO', 'NO', 'YES')]

In [57]:
%%sql 

SELECT * FROM information_schema.columns
WHERE table_name = 'orders'

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
4 rows affected.

[('itv001594_retail_db', 'public', 'orders', 'order_id', 1, "nextval('orders_order_id_seq'::regclass)", 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv001594_retail_db', 'public', 'orders', 'order_date', 2, None, 'NO', 'timestamp without time zone', None, None, None, None, None, 6, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'timestamp', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv001594_retail_db', 'public', 'orders', 'order_customer_id', 3, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'int4', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv001594_retail_db', 'public', 'orders', 'order_status', 4, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [58]:
%%sql 

SELECT * FROM information_schema.columns
WHERE table_name = 'order_items'

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
6 rows affected.

[('itv001594_retail_db', 'public', 'order_items', 'order_item_id', 1, "nextval('order_items_order_item_id_seq'::regclass)", 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv001594_retail_db', 'public', 'order_items', 'order_item_order_id', 2, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'int4', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv001594_retail_db', 'public', 'order_items', 'order_item_product_id', 3, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'int4', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv001594_retail_db', 'public', 'order_items', 'order_item_quantity', 4, None, 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'int4', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv001594_retail_db', 'public', 'order_items', 'order_item_subtotal', 5, None, 'NO', 'double precision', None, None, 53, 2, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'float8', None, None, None, None, '5', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv001594_retail_db', 'public', 'order_items', 'order_item_product_price', 6, None, 'NO', 'double precision', None, None, 53, 2, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'float8', None, None, None, None, '6', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [59]:
%%sql 

SELECT * FROM information_schema.columns
WHERE table_name = 'categories'

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
3 rows affected.

[('itv001594_retail_db', 'public', 'categories', 'category_id', 1, "nextval('categories_category_id_seq'::regclass)", 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv001594_retail_db', 'public', 'categories', 'category_department_id', 2, None, 'YES', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'int4', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv001594_retail_db', 'public', 'categories', 'category_name', 3, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'varchar', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [60]:
%%sql 

SELECT * FROM information_schema.columns
WHERE table_name = 'customers'

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
9 rows affected.

[('itv001594_retail_db', 'public', 'customers', 'customer_id', 1, "nextval('customers_customer_id_seq'::regclass)", 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv001594_retail_db', 'public', 'customers', 'customer_fname', 2, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'varchar', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv001594_retail_db', 'public', 'customers', 'customer_lname', 3, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'varchar', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv001594_retail_db', 'public', 'customers', 'customer_email', 4, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv001594_retail_db', 'public', 'customers', 'customer_password', 5, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'varchar', None, None, None, None, '5', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv001594_retail_db', 'public', 'customers', 'customer_street', 6, None, 'NO', 'character varying', 255, 1020, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'varchar', None, None, None, None, '6', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv001594_retail_db', 'public', 'customers', 'customer_city', 7, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'varchar', None, None, None, None, '7', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv001594_retail_db', 'public', 'customers', 'customer_state', 8, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'varchar', None, None, None, None, '8', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv001594_retail_db', 'public', 'customers', 'customer_zipcode', 9, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'varchar', None, None, None, None, '9', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [61]:
%%sql 

SELECT * FROM information_schema.columns
WHERE table_name = 'departments'

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
2 rows affected.

[('itv001594_retail_db', 'public', 'departments', 'department_id', 1, "nextval('departments_department_id_seq'::regclass)", 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv001594_retail_db', 'public', 'departments', 'department_name', 2, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'varchar', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [62]:
%%sql 

SELECT * FROM information_schema.columns
WHERE table_name = 'products'

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
6 rows affected.

[('itv001594_retail_db', 'public', 'products', 'product_id', 1, "nextval('products_product_id_seq'::regclass)", 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv001594_retail_db', 'public', 'products', 'product_category_id', 2, None, 'YES', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'int4', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv001594_retail_db', 'public', 'products', 'product_price', 5, None, 'NO', 'double precision', None, None, 53, 2, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'float8', None, None, None, None, '5', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv001594_retail_db', 'public', 'products', 'product_name', 3, None, 'NO', 'character varying', 45, 180, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'varchar', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv001594_retail_db', 'public', 'products', 'product_description', 4, None, 'NO', 'character varying', 255, 1020, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv001594_retail_db', 'public', 'products', 'product_image', 6, None, 'NO', 'character varying', 255, 1020, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itv001594_retail_db', 'pg_catalog', 'varchar', None, None, None, None, '6', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [63]:
%%sql

SELECT * FROM information_schema.table_constraints
WHERE table_name = 'orders'

 * postgresql://itv001594_retail_user:***@m01.itversity.com:5433/itv001594_retail_db
6 rows affected.

[('itv001594_retail_db', 'public', 'orders_pkey', 'itv001594_retail_db', 'public', 'orders', 'PRIMARY KEY', 'NO', 'NO', 'YES'),
 ('itv001594_retail_db', 'public', 'customers_order_id_fk', 'itv001594_retail_db', 'public', 'orders', 'FOREIGN KEY', 'NO', 'NO', 'YES'),
 ('itv001594_retail_db', 'public', '2200_217843_1_not_null', 'itv001594_retail_db', 'public', 'orders', 'CHECK', 'NO', 'NO', 'YES'),
 ('itv001594_retail_db', 'public', '2200_217843_2_not_null', 'itv001594_retail_db', 'public', 'orders', 'CHECK', 'NO', 'NO', 'YES'),
 ('itv001594_retail_db', 'public', '2200_217843_3_not_null', 'itv001594_retail_db', 'public', 'orders', 'CHECK', 'NO', 'NO', 'YES'),
 ('itv001594_retail_db', 'public', '2200_217843_4_not_null', 'itv001594_retail_db', 'public', 'orders', 'CHECK', 'NO', 'NO', 'YES')]