## Exercises - Partitioning Tables

Here is the exercise to get comfort with partitioning. We will be using range partitioning.

* Use retail database. Make sure **orders** table already exists.
* You can reset the database by running these commands.
* Connect to retail database.

```shell
psql -U itversity_retail_user \
  -h localhost \
  -p 5432 \
  -d itversity_retail_db \
  -W
```

* Run these commands or scripts to reset the tables. It will take care of recreating **orders** table.

```sql
DROP TABLE IF EXISTS order_items;
DROP TABLE IF EXISTS orders;
DROP TABLE IF EXISTS customers;
DROP TABLE IF EXISTS products;
DROP TABLE IF EXISTS categories;
DROP TABLE IF EXISTS departments;


\i /data/retail_db/create_db_tables_pg.sql

\i /data/retail_db/load_db_tables_pg.sql
```

### Exercise 1

Create table **orders_part** with the same columns as orders.
* Partition the table by month using range partitioning on **order_date**.
* Add 14 partitions - 13 based up on the data and 1 default. Here is the naming convention.
  * Default - orders_part_default
  * Partition for 2014 January - orders_part_201401

In [4]:
%sql DROP TABLE IF EXISTS orders_part

Done.

[]

In [5]:
%%sql

CREATE TABLE orders_part(
        order_id SERIAL,
        order_date DATE,
        order_customer_id INT,
        order_status VARCHAR(30)
        )PARTITION BY RANGE(order_date)

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
Done.

[]

In [6]:
%%sql 

SELECT distinct to_char(order_date,'yyyy-MM') as order_date FROM orders 
order by order_date

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
13 rows affected.

[('2013-07',),
 ('2013-08',),
 ('2013-09',),
 ('2013-10',),
 ('2013-11',),
 ('2013-12',),
 ('2014-01',),
 ('2014-02',),
 ('2014-03',),
 ('2014-04',),
 ('2014-05',),
 ('2014-06',),
 ('2014-07',)]

In [7]:
%%sql

CREATE TABLE orders_part_default
PARTITION OF orders_part DEFAULT

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
Done.

[]

In [8]:
%%sql

CREATE TABLE orders_part_201307
PARTITION OF orders_part
FOR VALUES FROM ('2013-07-01') TO ('2013-08-01')

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
Done.

[]

In [9]:
%%sql

CREATE TABLE orders_part_201308
PARTITION OF orders_part
FOR VALUES FROM ('2013-08-01') TO ('2013-09-01')

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
Done.

[]

In [10]:
%%sql

CREATE TABLE orders_part_201309
PARTITION OF orders_part
FOR VALUES FROM ('2013-09-01') TO ('2013-10-01')

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
Done.

[]

In [11]:
%%sql

CREATE TABLE orders_part_201310
PARTITION OF orders_part
FOR VALUES FROM ('2013-10-01') TO ('2013-11-01')

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
Done.

[]

In [12]:
%%sql

CREATE TABLE orders_part_201311
PARTITION OF orders_part
FOR VALUES FROM ('2013-11-01') TO ('2013-12-01')

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
Done.

[]

In [13]:
%%sql

CREATE TABLE orders_part_201312
PARTITION OF orders_part
FOR VALUES FROM ('2013-12-01') TO ('2014-01-01')

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
Done.

[]

In [14]:
%%sql

CREATE TABLE orders_part_201401
PARTITION OF orders_part
FOR VALUES FROM ('2014-01-01') TO ('2014-02-01')

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
Done.

[]

In [15]:
%%sql

CREATE TABLE orders_part_201402
PARTITION OF orders_part
FOR VALUES FROM ('2014-02-01') TO ('2014-03-01')

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
Done.

[]

In [16]:
%%sql

CREATE TABLE orders_part_201403
PARTITION OF orders_part
FOR VALUES FROM ('2014-03-01') TO ('2014-04-01')

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
Done.

[]

In [17]:
%%sql

CREATE TABLE orders_part_201404
PARTITION OF orders_part
FOR VALUES FROM ('2014-04-01') TO ('2014-05-01')

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
Done.

[]

In [18]:
%%sql

CREATE TABLE orders_part_201405
PARTITION OF orders_part
FOR VALUES FROM ('2014-05-01') TO ('2014-06-01')

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
Done.

[]

In [19]:
%%sql

CREATE TABLE orders_part_201406
PARTITION OF orders_part
FOR VALUES FROM ('2014-06-01') TO ('2014-07-01')

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
Done.

[]

In [20]:
%%sql

CREATE TABLE orders_part_201407
PARTITION OF orders_part
FOR VALUES FROM ('2014-07-01') TO ('2014-08-01')

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
Done.

[]

### Exercise 2

Let us load and validate data in the partitioned table.
* Load the data from **orders** into **orders_part**.
* Get count on **orders_part** as well as all the 14 partitions. You should get 0 for default partition and all the records should be distributed using the other 13 partitions.

In [21]:
%%sql

INSERT INTO orders_part
SELECT * FROM orders

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
68883 rows affected.

[]

In [22]:
%sql SELECT count(1) FROM orders_part

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
1 rows affected.

[(68883,)]

In [23]:
%%sql

SELECT count(1) FROM orders
WHERE to_char(order_date, 'yyyy-MM') = '2014-01'

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
1 rows affected.

[(5908,)]

In [24]:
%%sql

SELECT COUNT(1) FROM orders_part
    WHERE to_char(order_date,'yyyy-MM') = '2014-01'

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
1 rows affected.

[(5908,)]

In [25]:
%sql SELECT count(1) FROM orders

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
1 rows affected.

[(68883,)]

In [26]:
%sql SELECT * FROM orders_part_default limit 10

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
0 rows affected.

[]

In [27]:
%sql SELECT count(1) FROM orders_part_default

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
1 rows affected.

[(0,)]

In [28]:
%sql SELECT count(1) FROM orders_part_201307

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
1 rows affected.

[(1533,)]

In [29]:
%sql SELECT COUNT(1) FROM orders_part_201308

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
1 rows affected.

[(5680,)]

In [30]:
%sql SELECT COUNT(1) FROM orders_part_201309

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
1 rows affected.

[(5841,)]

In [31]:
%sql SELECT COUNT(1) FROM orders_part_201310

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
1 rows affected.

[(5335,)]

In [32]:
%sql SELECT COUNT(1) FROM orders_part_201311

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
1 rows affected.

[(6381,)]

In [33]:
%sql SELECT COUNT(1) FROM orders_part_201312

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
1 rows affected.

[(5892,)]

In [34]:
%sql SELECT COUNT(1) FROM orders_part_201401

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
1 rows affected.

[(5908,)]

In [35]:
%sql SELECT COUNT(1) FROM orders_part_201402

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
1 rows affected.

[(5635,)]

In [36]:
%sql SELECT COUNT(1) FROM orders_part_201403

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
1 rows affected.

[(5778,)]

In [37]:
%sql SELECT COUNT(1) FROM orders_part_201404

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
1 rows affected.

[(5657,)]

In [38]:
%sql SELECT COUNT(1) FROM orders_part_201405

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
1 rows affected.

[(5467,)]

In [39]:
%sql SELECT COUNT(1) FROM orders_part_201406

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
1 rows affected.

[(5308,)]

In [40]:
%sql SELECT COUNT(1) FROM orders_part_201407

 * postgresql://itv001243_retail_user:***@m01.itversity.com:5433/itv001243_retail_db
1 rows affected.

[(4468,)]