## Exercises - list and set

Let us go through some exercises related to list and set.

## Get second largest integer

Develop a code snippet using list and set manipulation functions to get second largest element from the list.
* List: `[1, 5, 2, 1, 7, 5, 7, 3]`
* Answer: **5**

In [1]:
# Your code should go here
l=[1, 5, 2, 1, 7, 5, 7, 3]
s=set(l)
s.remove(max(s))
print(max(s))

5

In [2]:
l=[1, 5, 2, 1, 7, 5, 7, 3]
l=set(l)
l=list(l)
l[-2]

5

## Get unique values from the list

Develop a code to use the below list and generate new list of unique values.
* List: `[1, 5, 2, 1, 7, 5, 7, 3]`
* Answer: `[1, 2, 3, 5, 7]`
* Check the type of the new variable. It should be `list`.

In [5]:
# Your code should go here
l=[1, 5, 2, 1, 7, 5, 7, 3]
l=set(l)
l=list(l)
l

[1, 2, 3, 5, 7]

In [6]:
type(l)

list

## Create a list for integers

Develop a function which take a list as argument and return a new list with only integers. You can develop this using loops.
* The list might contain data with different data types.
* The new list with only integers should be sorted in descending order.
* The new list should only contain unique values

In [7]:
# Here is how you can access elements in the list using loops.

for e in [1, 'Hello', None, 5, 0.15, 1, 5]:
    print(e)

1
Hello
None
5
0.15
1
5

In [8]:
# You should add the logic here
def extract_integers(l):
    l_ints = []
    for i in l:
        if type(i) == int:
            l_ints.append(i)
            l_ints = list(set(l_ints))
            l_ints = sorted(l_ints, reverse= True)
    return l_ints

In [9]:
extract_integers([1, 'Hello', None, 5, 0.15, 1, 5])

[5, 1]

In [10]:
# You should add the logic here
def extract_integers(l):
    l_ints = set()
    for e in l:
        if type(e)==int:
        
            l_ints.add(e)
    
            
    return l_ints

In [11]:
l=extract_integers([1, 'Hello', None, 5, 0.15, 1, 5]) # Answer: [5, 1]

In [12]:
sorted(l,reverse=True)

[5, 1]

## Get top n salaries

Develop a function which take a list of salaries and give us top n salaries. Solve the problem with out using loops.
* The function should take 2 arguments - list of salaries and the top n.
* Based up on the value passed as part of second argument, you should get those many top salaries.
* We should get only unique top n salaries

In [13]:
# You should add the logic here
def top_n_salaries(salaries, top_n):
    salaries_top_n = set()
    salaries_top_n=sorted(set(salaries),reverse=True)
    return salaries_top_n[0:top_n]

In [14]:
salaries = [
    18732.8, 12842.28, 13391.69, 14061.23,
    25509.77, 13636.95, 11841.63, 11519.12,
    16719.45, 25066.37, 12842.28, 25066.37
]

In [15]:
top_n_salaries(salaries, 3)
# Output: [25509.77, 25066.37, 18732.8]

[25509.77, 25066.37, 18732.8]

In [16]:
def top_n_salaries(salaries, top_n):
    salaries_top_n = []
    salaries =set(salaries)
    salaries = sorted(salaries,reverse=True)
    salaries = salaries[:top_n]
    salaries_top_n = salaries_top_n + salaries
    return salaries_top_n

In [17]:
salaries = [
    18732.8, 12842.28, 13391.69, 14061.23,
    25509.77, 13636.95, 11841.63, 11519.12,
    16719.45, 25066.37, 12842.28, 25066.37
]

In [18]:
top_n_salaries(salaries, 3)
# Output: [25509.77, 25066.37, 18732.8]

[25509.77, 25066.37, 18732.8]