## Exercises - Dicts and Tuples

Let us go through some exercises related to dict and tuple.

### Exercise 1 - Access all the values

Get the values from the below dict in the form of a list.

In [1]:
d = {
    'order_id': 1,
    'order_date': '2013-07-25',
    'order_customer_id': 100,
    'order_status': 'COMPLETE'
}

In [2]:
def get_values(d):
    for values in d:
        values = d.values()
        values_list = list(values)


    l = values_list[0:4]
    return l

In [3]:
l=get_values(d) # Desired output: [1, '2013-07-25', 100, 'COMPLETE']
l

[1, '2013-07-25', 100, 'COMPLETE']

In [4]:
type(get_values(d)) # list

list

In [5]:
def get_values(d):
    l = list(d.values())
    return l

In [6]:
type(get_values(d)) # list

list

In [7]:
get_values(d)

[1, '2013-07-25', 100, 'COMPLETE']

### Exercise 2 - Get Data types of values

Continue on previous exercise and print data type of each value returned by get_values.

In [8]:
for x in get_values(d):
    print(type(x))

<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>

In [9]:
type(get_values(d))

list

* As l is list, you will be able to use `for` loop to access the elements from l. Here is the desired output.

In [10]:
for e in l: print(e)

1
2013-07-25
100
COMPLETE

In [11]:
for e in l: 
    print(f'type of value {e} is {type(e)}')

type of value 1 is <class 'int'>
type of value 2013-07-25 is <class 'str'>
type of value 100 is <class 'int'>
type of value COMPLETE is <class 'str'>

### Exercise 3 - Data Type Conversion

As part of the below dict object, order_date is of type string. You need to convert the data type of **order_date** to date type.

In [29]:
d = {
    'order_id': 1,
    'order_date': '2013-07-25',
    'order_customer_id': 100,
    'order_status': 'COMPLETE'
}

In [13]:
d

{'order_id': 1,
 'order_date': '2013-07-25',
 'order_customer_id': 100,
 'order_status': 'COMPLETE'}

In [14]:
from datetime import datetime
def convert_date_type(d):
    for key,value in d.items():
        if key == 'order_date':
            d[key]=datetime.strptime(value, '%Y-%m-%d')
    return d

In [15]:
d_converted = convert_date_type(d)
d_converted

{'order_id': 1,
 'order_date': datetime.datetime(2013, 7, 25, 0, 0),
 'order_customer_id': 100,
 'order_status': 'COMPLETE'}

In [16]:
type(d_converted['order_date']) # Output: datetime.datetime

datetime.datetime

* Run below cell to validate the output. Here is the desired output.

```python
{'order_id': 1,
 'order_date': datetime.datetime(2013, 7, 25, 0, 0),
 'order_customer_id': 100,
 'order_status': 'COMPLETE'}
```

In [38]:
from datetime import datetime
def convert_date_type(d):
    dt = d['order_date']
    dt = datetime.strptime(dt, '%Y-%m-%d')
    d.update({'order_date': dt})
    return d

In [39]:
d

{'order_id': 1,
 'order_date': '2013-07-25',
 'order_customer_id': 100,
 'order_status': 'COMPLETE'}

In [40]:
d_converted = convert_date_type(d)
d_converted

{'order_id': 1,
 'order_date': datetime.datetime(2013, 7, 25, 0, 0),
 'order_customer_id': 100,
 'order_status': 'COMPLETE'}

In [41]:
type(d_converted['order_date']) # Output: datetime.datetime

datetime.datetime

### Exercise 4 - Create list of dicts

Create list of dicts for the following data.
* Each element in the list should be of type dict.
* The dict should contain **order_item_order_id** and **order_item_subtotal** as keys.

|order_item_order_id|order_item_subtotal|
|---|---|
|1|299.98|
|2|199.99|
|2|250.0|
|2|129.99|
|4|49.98|
|4|299.95|
|4|150.0|
|4|199.92|

In [42]:
d=[{'order_item_order_id':1 ,
    'order_item_subtotal':299.98},
   {'order_item_order_id':2,
    'order_item_subtotal':199.99},
   {'order_item_order_id':2,
    'order_item_subtotal':250.0},
   {'order_item_order_id':2,
    'order_item_subtotal':129.99},
   {'order_item_order_id':4,
    'order_item_subtotal':49.98},
   {'order_item_order_id':4,
    'order_item_subtotal':299.95},
    {'order_item_order_id':4,
    'order_item_subtotal':150.0},
    {'order_item_order_id':4,
   'order_item_subtotal':199.92}]

In [11]:
d

[{'order_item_order_id': 1, 'order_item_subtotal': 299.98},
 {'order_item_order_id': 2, 'order_item_subtotal': 199.99},
 {'order_item_order_id': 2, 'order_item_subtotal': 250.0},
 {'order_item_order_id': 2, 'order_item_subtotal': 129.99},
 {'order_item_order_id': 4, 'order_item_subtotal': 49.98},
 {'order_item_order_id': 4, 'order_item_subtotal': 299.95},
 {'order_item_order_id': 4, 'order_item_subtotal': 150.0},
 {'order_item_order_id': 4, 'order_item_subtotal': 199.92}]

In [12]:
d[0]

{'order_item_order_id': 1, 'order_item_subtotal': 299.98}

In [13]:
type((d)[0])

dict

In [22]:
l = ['1, 299' , '2, 199.99' , '2, 250.0' , '2, 129.99' , '4, 49.98' , '4, 299.95' , '4, 150.0' , '4, 199.92']

In [23]:
def list_of_dicts(n):
    order = n.split(',')
    dict_ele = {'order_item_order_id': int(order[0]), 'order_item_subtotal': float(order[1]), }
    return dict_ele

In [24]:
l_o_d = [list_of_dicts(i) for i in l]
l_o_d

[{'order_item_order_id': 1, 'order_item_subtotal': 299.0},
 {'order_item_order_id': 2, 'order_item_subtotal': 199.99},
 {'order_item_order_id': 2, 'order_item_subtotal': 250.0},
 {'order_item_order_id': 2, 'order_item_subtotal': 129.99},
 {'order_item_order_id': 4, 'order_item_subtotal': 49.98},
 {'order_item_order_id': 4, 'order_item_subtotal': 299.95},
 {'order_item_order_id': 4, 'order_item_subtotal': 150.0},
 {'order_item_order_id': 4, 'order_item_subtotal': 199.92}]

### Exercise 5: Dict with max value

Create a dict with order id and max order item subtotal using the below dict. The below dict contains order id as key and order item subtotals list as corresponding value.

In [26]:
order_item_subtotals = {
    1: [299.98],
    2: [199.99, 250.0, 129.99],
    4: [49.98, 150.0, 199.92],
    5: [299.98, 299.95, 99.96, 299.98, 129.99],
    7: [199.99, 299.98, 79.95],
    8: [179.97, 299.95, 199.92, 50.0]
}

In [21]:
# Your solution should go here
def d_top(m):
    for k, v in m.items():
        m[k]=sorted(v,reverse=True)[0]
    return m

In [22]:
d_top(order_item_subtotals)

{1: 299.98, 2: 250.0, 4: 199.92, 5: 299.98, 7: 299.98, 8: 299.95}

In [27]:
l= []
for i in order_item_subtotals.items():
    l.append((i[0], max(i[1])))
l= dict(l)
l

{1: 299.98, 2: 250.0, 4: 199.92, 5: 299.98, 7: 299.98, 8: 299.95}

* Here is the desired output.

```python
{1: 299.98, 2: 250.0, 4: 199.92, 5: 299.98, 7: 299.98, 8: 299.95}
```

### Exercise 6: Dict with order revenue

Create a dict with order item id and order item subtotal. The input dict will contain order item id as key and quantity along with price as value. **order item subtotal** is product of quantity and price.

In [28]:
order_items = {1: (1, 299.98),
 2: (1, 199.99),
 3: (5, 50.0),
 4: (1, 129.99),
 5: (2, 24.99),
 6: (5, 59.99),
 7: (3, 50.0),
 8: (4, 49.98),
 9: (1, 299.98),
 10: (5, 59.99)}

In [28]:
# Your solution should go here
def order_item_subtotal(m):
    for k, v in m.items():
        m[k]=v[0] * v[1]
    return m

In [29]:
order_item_subtotal(order_items)

{1: 299.98,
 2: 199.99,
 3: 250.0,
 4: 129.99,
 5: 49.98,
 6: 299.95,
 7: 150.0,
 8: 199.92,
 9: 299.98,
 10: 299.95}

* Here is the expected output.

```python
{1: 299.98,
 2: 199.99,
 3: 250.0,
 4: 129.99,
 5: 49.98,
 6: 299.95,
 7: 150.0,
 8: 199.92,
 9: 299.98,
 10: 299.95}
```

In [29]:
l = []
for i in order_items.items():
    l.append((i[0], ((list(i[1]))[0]) * ((list(i[1]))[1])))
l = dict(l)
l

{1: 299.98,
 2: 199.99,
 3: 250.0,
 4: 129.99,
 5: 49.98,
 6: 299.95,
 7: 150.0,
 8: 199.92,
 9: 299.98,
 10: 299.95}