In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('../before_cloud_movies_example/ml-100k/u.data',
                 header = None, sep = '\t')

In [11]:
df.columns = ['userID', 'movieID', 'rating', 'timestamp']

In [12]:
df

       userID  movieID  rating  timestamp
0         196      242       3  881250949
1         186      302       3  891717742
2          22      377       1  878887116
3         244       51       2  880606923
4         166      346       1  886397596
...       ...      ...     ...        ...
99995     880      476       3  880175444
99996     716      204       5  879795543
99997     276     1090       1  874795795
99998      13      225       2  882399156
99999      12      203       3  879959583

[100000 rows x 4 columns]

In [28]:
df_self = pd.merge(
    left = df,
    right = df,
    on = 'userID',
    how = 'inner'
)

In [29]:
df_self_diff = df_self[df_self['movieID_x']!=df_self['movieID_y']]

In [30]:
df_self_diff.shape

(20100812, 7)

In [31]:
df_self_diff

,userID,movieID_x,rating_x,timestamp_x,movieID_y,rating_y,timestamp_y
1,196,242,3,881250949,393,4,881251863
2,196,242,3,881250949,381,4,881251728
3,196,242,3,881250949,251,3,881251274
4,196,242,3,881250949,655,5,881251793
5,196,242,3,881250949,67,5,881252017
...,...,...,...,...,...,...,...
20200806,941,1007,4,875049077,300,4,875048495
20200807,941,1007,4,875049077,919,5,875048887
20200808,941,1007,4,875049077,273,3,875049038
20200809,941,1007,4,875049077,1,5,875049144
20200810,941,1007,4,875049077,294,4,875048532